span {
  border: 1px solid;
  margin: 5px;
  padding: 10px;
  width: 30.3%;
  display: inline-block;
}

#footer {
  position: fixed;
  top: 91%;
  width: 100%;
  text-align: center;
}

.backdrop {
  background-image: url("http://blogs.reuters.com/great-debate/files/2013/10/obama-back.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  margin: 20px 40px;
  opacity: .7;
  position: relative;
}

h2 {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: white;
}
