span {
  border: 1px solid;
  margin: 5px;
  padding: 10px;
  width: 30.3%;
  display: inline-block;
}

#footer {
  position: fixed;
  top: 91%;
  width: 100%;
  text-align: center;
  background-color: white;
}

h2 {
  position:absolute;
  width: 100%;
  text-align: center;
  top: 500px;
  background-color: #fff;
}

img {
  width: 100%;
}
